<h1>Admin Panel</h1>

<strong>Click on a company to edit</strong>

<h2>Companies</h2>

<table class="table">
  <thead>
    <th>Company name</th>
    <th>Description</th>
    <th>Technologies</th>
    <th>Locations</th>
  </thead>
  <tbody id="company-list">
    <% @companies.each do |company| %>
    <tr>
      <td>
        <%= link_to company.name, admin_path(company) %>
      </td>
      <td>
        <%= company.description %>
      </td>
      <td>
        <% company.technologies.each do |tech| %>
          <p><%= link_to tech.name, technology_path(tech) %></p>
        <% end %>
      </td>
      <td>
        <% company.offices.each do |office|%>
          <div>
            <span><%= office.city %></span>,
            <span><%= office.state %></span>
          </div>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
