<h1>Admin Panel</h1>

<h2>Companies</h2>

<table class="table">
  <thead>
    <th>Company name</th>
    <th>Description</th>
    <th>Technologies</th>
    <th>Locations</th>
    <th></th>
  </thead>
  <tbody id="company-list">
    <tr>
      <td>
        <%= @company.name %>
      </td>
      <td>
        <%= @company.description %>
      </td>
      <td>
        <% @company.technologies.each do |tech| %>
          <p><%= link_to tech.name, technology_path(tech) %></p>
        <% end %>
      </td>
      <td>
        <% @company.offices.each do |office|%>
          <div>
            <span><%= office.city %></span>,
            <span><%= office.state %></span>
          </div>
        <% end %>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <%= link_to "Edit Name & Description", edit_company_path(@company), class: 'btn btn-info', id: "edit-company-btn", remote: true %>
      </td>
      <td>
        <%= link_to "Add a Technology", new_company_technology_path(@company), class: "btn btn-info", id: "add-company-technology", remote: true %>
      </td>
      <td>
        <%= link_to "Add an Office", new_company_office_path(@company), class: "btn btn-info", id: "add-company-office", remote: true  %>
      </td>
      <td>
        <%= link_to "Delete", company_path(@company),
        :data => { :confirm => "Are you sure?", :method => :delete, } %>
      </td>
    </tr>
  </tbody>
</table>

<p><%= link_to "Back to admin list", admin_path %></p>
