<h1>Admin Panel</h1>

<h2>Companies</h2>

<table class="table">
  <thead>
    <th>Company name</th>
    <th>Description</th>
    <th>Technologies</th>
    <th>Locations</th>
    <th></th>
  </thead>
  <tbody id="company-list">
    <%= render @company %>
    <tr>
      <td colspan="2">
        <%= button_to "Edit Name & Description", edit_company_path(@company), {class: 'btn btn-info', id: "edit-company-btn", :method => :get, remote: true} %>
      </td>
      <td>
        <%= button_to "Add a Technology", new_company_technology_path(@company), {class: "btn btn-info", id: "add-company-technology", :method => :get, remote: true} %>
      </td>
      <td>
        <%= button_to "Add an Office", new_company_office_path(@company), {class: "btn btn-info", id: "add-company-office", :method => :get, remote: true}  %>
      </td>
      <td>
        <%= link_to "Delete", company_path(@company),
        :data => { :confirm => "Are you sure?", :method => :delete, } %>
      </td>
    </tr>
  </tbody>
</table>

<p><%= link_to "Back to admin list", admin_path %></p>
