<tr id="<%= company.id %>">
  <td>
    <%= link_to company.name, company_path(company) %>
  </td>
  <td>
    <%= company.description %>
  </td>
  <td>
    <% company.technologies.each do |tech| %>
      <p><%= link_to tech.name, technology_path(tech) %></p>
    <% end %>
  </td>
  <td class="internships-checkbox">
    <%= check_box_tag("company_#{company.id}", company.trainings, company.trainings, disabled: "#{company.trainings}") %>
  </td>
  <td>
    <% company.locations.each do |location|%>
      <p>
        <%= link_to "#{location.city}, #{location.state}", location_path(location) %>
      </p>
    <% end %>
  </td>
    <td id="<%= company.twitter_follower_count ? 'twitter-followers' : '' %>">
      <%= number_with_delimiter(company.twitter_follower_count) %>
    </td>
</tr>
