<%= render "layouts/errors", :object => @company %>

<%= form_for @company, remote: true do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label "description" + ":" %>
    <%= f.text_field :description, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :twitter_handle %>
    <%= f.text_field :twitter_handle, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :technologies %>
    <%= f.collection_check_boxes(:technology_ids, Technology.all, :id, :name, include_hidden: false) do |technology| %>
      <%= technology.label %>
      <%= technology.check_box %>
    <% end %>
  </div>
  <%= f.fields_for :offices do |office| %>
    <%= office.fields_for :location do |location| %>
      <div class="form-group">
        <%= location.label :state %>
        <%= location.select(:state, CS.get(:us), {}, class: "form-control") %>
      </div>
      <div class="form-group">
        <select id="cities-of-state" class="form-control" name="company[offices_attributes][0][location_attributes][city]">
          <option value="" selected="">Select Your City</option>
        </select>
      </div>
    <% end %>
  <% end %>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= f.submit :class => "btn btn-success" %>
<% end %>
