<%= render "layouts/errors", :object => @company %>

<%= form_for @company do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>
  <div class="form-group">
    <%= f.label :technologies %>
    <%= f.text_field :technologies %>
  </div>
  <%= f.submit :class => "btn btn-success" %>
<% end %>
