<h1>Companies</h1>

<table class="table">
  <thead>
    <th>Company name</th>
    <th>Description</th>
    <th>Technologies</th>
    <th></th>
  </thead>
  <tbody>
  <% @companies.each do |company| %>
    <td>
      <%= link_to company.name, company_path(company) %>
    </td>
    <td>
      <%= company.description %>
    </td>
    <td>
      <%= company.technologies %>
    </td>
    <td>
      <%= button_to "Edit", edit_company_path(company), {class: 'btn btn-sm', :method => :get} %>
    <td>
  <% end %>
</table>


<p><%= link_to "Add a company", new_company_path %></p>
