<h1>Companies</h1>

<table class="table">
  <thead>
    <th>Company name</th>
    <th>Description</th>
    <th>Technologies</th>
    <th>Locations</th>
    <th></th>
  </thead>
  <tbody>
  <% @companies.each do |company| %>
    <tr>
      <td>
        <%= link_to company.name, company_path(company) %>
      </td>
      <td>
        <%= company.description %>
      </td>
      <td>
        <% company.technologies.each do |tech| %>
          <p><%= tech.name %></p>
        <% end %>
      </td>
      <td>
        <% company.offices.each do |office|%>
          <div>
            <span><%= office.city %></span>,
            <span><%= office.state %></span>
          </div>
        <% end %>
      </td>
      <td>
        <%= button_to "Edit", edit_company_path(company), {class: 'btn btn-sm', :method => :get} %>
      <td>
    </tr>
  <% end %>
</table>


<p><%= link_to "Add a company", new_company_path %></p>
