<h1><%= @company.name %>'s details</h1>

<table class="table">
  <thead>
    <th>name</th>
    <th>description</th>
    <th>technologies</th>
    <th>offices</th>
  </thead>
  <tbody>
    <td>
      <%= @company.name %>
    </td>
    <td>
      <%= @company.description %>
    </td>
    <td>
      <% @company.technologies.each do |tech| %>
        <p><%= link_to tech.name, technology_path(tech) %></p>
      <% end %>
    </td>
    <td>
      <% @company.offices.each do |office| %>
      <div>
        <span><%= office.city %></span>,
        <span><%= office.state %></span>
      </div>
      <% end %>
    </td>
<table>
