<div class="container">
  <h1><%= @company.name %>'s details</h1>

  <div>
    <%= image_tag @company.profile_image_uri, id: "profile-image" %>
    <%= image_tag @company.profile_banner_uri, id: "profile-banner" %>
  </div>

  <table class="table">
    <thead>
      <th>Name</th>
      <th>Description</th>
      <th>Technologies</th>
      <th>Locations</th>
      <th>Twitter Followers</th>
    </thead>
    <tbody id="company-list">
      <tr id="<%= @company.id %>">
        <td>
          <%= @company.name %>
        </td>
        <td>
          <%= @company.description %>
        </td>
        <td>
          <% @company.technologies.each do |tech| %>
            <p><%= link_to tech.name, technology_path(tech) %></p>
          <% end %>
        </td>
        <td>
          <% @company.offices.each do |office|%>
            <div>
              <span><%= office.city %></span>,
              <span><%= office.state %></span>
            </div>
          <% end %>
        </td>
        <td id="<%= @company.twitter_follower_count ? 'twitter-followers' : '' %>">
          <%= @company.twitter_follower_count %>
        </td>
      <tr>
        <td colspan="3">
          <%= link_to "Edit Details", edit_company_path(@company), class: 'btn btn-info', id: "edit-company-btn", remote: true %>
        </td>
        <td>
          <%= link_to "Add an Office", new_company_office_path(@company), class: "btn btn-info", id: "add-company-office", remote: true  %>
        </td>
        <td>
          <% if current_user_is_admin? %>
            <%= link_to "Delete", company_path(@company), class: "btn btn-info",
            :data => { :confirm => "Are you sure?", :method => :delete, } %>
          <% end %>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="new-office-div"></div>

  <div class="new-technology-div"></div>
</div>
