<h1>
  <td>
    <%= @company.name %> details</
    td>
</h1>

<table class="table">
  <thead>
    <th>name</th>
    <th>description</th>
    <th>technologies</th>
    <th>street_1</th>
    <th>street_2</th>
    <th>city</th>
    <th>state</th>
    <th>zip</th>
  </thead>
  <tbody>
    <td>
      <%= @company.name %>
    </td>
    <td>
      <%= @company.description %>
    </td>
    <td>
      <%= @company.technologies %>
    </td>
    <td>
      <%= @company.street_1 %>
    </td>
    <td>
      <%= @company.street_2 %>
    </td>
    <td>
      <%= @company.city %>
    </td>
    <td>
      <%= @company.state %>
    </td>
    <td>
      <%= @company.zip %>
    </td>
<table>
