<div class="container">
  <h2><%= @technology.name %></h2>

  <h3>Description: <%= @technology.description %></h3>

  <h3>Companies using this tech:</h3>

  <table class="table">
    <thead>
      <th>Company name</th>
      <th>Description</th>
      <th>Technologies</th>
      <th>Locations</th>
      <th></th>
    </thead>
    <tbody>
    <% @technology.companies.each do |company| %>
      <tr>
        <td>
          <%= link_to company.name, company_path(company) %>
        </td>
        <td>
          <%= company.description %>
        </td>
        <td>
          <% company.technologies.each do |tech| %>
            <p><%= link_to tech.name, technology_path(tech) %></p>
          <% end %>
        </td>
        <td>
          <% company.offices.each do |office|%>
            <div>
              <span><%= office.city %></span>,
              <span><%= office.state %></span>
            </div>
          <% end %>
        </td>
        <td>
          <%= button_to "Edit", edit_company_path(company), {class: 'btn btn-sm', :method => :get} %>
        <td>
      </tr>
    <% end %>
  </table>
</div>
